/* --- Main CSS file --- */
@import url('../css/footer.css');
@import url('../css/header.css');
@import url('../css/mainContent.css');
@import url('../css/mediaMobile.css');

* {
    font-family: 'Open Sans', 'Arial';
    font-size: 17px;
    font-weight: bold;
}
